<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="customer">
            <group id="address">
                <field id="dob_threshold" translate="label" type="text" sortOrder="71" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Years Threshold</label>
                    <validate>required-entry validate-zero-or-greater</validate>
                    <depends>
                        <field id="dob_show">req</field>
                    </depends>
                    <comment>Set 0 for no threshold</comment>
                </field>
            </group>
        </section>
    </system>
</config>
